* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    color: white;
}
.banner{
    padding: 20px;
    background-color: #363636;
}
.container{
    max-width: 1200px;
    width: 40%;
    margin: 0 auto;
}
.elements-container:first-child{
    margin-top: 40px;
}
.elements-container h3{
 margin: 10px;
 color: #363636;
}